@use "./../../variables";

@mixin project {
  @at-root .featured__elements {
    &-title {
      display: flex;
      width: 100%;
      color: variables.$text-color-active;
      font-size: variables.$subtitle-font-size;
      align-items: center;
    }
    &-image {
      .image {
        width: 100%;
        height: 38vh;
      }
    }
    &-desc {
      padding: 30px;
      background-color: variables.$accent-color;
      color: variables.$text-color-default;
      font-size: variables.$text-font-size;
    }
    &-tools {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      list-style: none;
      color: variables.$text-color-default;
      font-size: variables.$navigation-font-size;
      &-item {
        a {
          text-decoration: none;
          color: variables.$text-color-default-shadow;
        }
        a:hover {
          color: variables.$text-color-default;
        }
      }
    }
    &-links {
      display: flex;
      .link {
        color: variables.$text-color-default;
        font-weight: variables.$text-font-weight;
        font-size: variables.$subtitle-font-size;
        text-decoration: none;
      }
      .link:hover {
        color: variables.$text-color-active;
      }
    }
  }
}

.featured {
  &__elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    &-items {
      display: grid;
      grid-template-columns: repeat(10, 10%);
      grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
      width: 75%;
      margin: 6vh;
    }
  }

  .project-left {
    @include project();
    .featured__elements {
      &-title {
        grid-area: 1 / 9 / 2 / 11;
        justify-content: flex-end;
      }
      &-image {
        grid-area: 1 / 1 / -1 / 7;
      }
      &-desc {
        grid-area: 2 / 6 / 5 / 11;
        justify-content: flex-end;
      }
      &-tools {
        grid-area: 5 / 7 / 6 / 11;
      }
      &-links {
        grid-area: 1 / 7 / 2 / 9;
        justify-content: flex-start;
        align-items: center;
        margin-left: 1.5rem;
        .link {
          margin-right: 2rem;
        }
      }
    }
  }

  .project-right {
    @include project();
    .featured__elements {
      &-title {
        grid-area: 1 / 1 / 2 / 3;
        justify-content: flex-start;
      }
      &-image {
        grid-area: 1 / 5 / -1 / 11;
      }
      &-desc {
        grid-area: 2 / 1 / 5 / 6;
        justify-content: flex-start;
      }
      &-tools {
        grid-area: 5 / 1 / 6 / 5;
      }
      &-links {
        grid-area: 1 / 3 / 2 / 5;
        justify-content: flex-end;
        align-items: center;
        margin-right: 1.5rem;
        .link {
          margin-left: 2rem;
        }
      }
    }
  }
}

.other {
  margin-top: 1rem;
  &__elements {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 20%);
    grid-auto-flow: row;
    list-style: none;
  }
  &__elements-desc {
    padding: 1rem;
    color: variables.$text-color-default;
  }
  &__elements-items {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    cursor: pointer;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: variables.$accent-color;
    transition: bottom 300ms;
    &:hover {
      bottom: 6px;
    }
  }
  &__elements-links {
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-evenly;
    color: variables.$text-color-default;
    margin-top: 1rem;
    .link {
      color: variables.$text-color-default;
      font-size: variables.$navigation-font-size;
      :hover {
        color: variables.$text-color-active;
      }
    }
  }
  &__elements-title {
    display: inline-flex;
    justify-content: center;
    color: variables.$text-color-default;
    font-size: variables.$subtitle-font-size;
    :hover > & {
      color: variables.$text-color-active;
    }
  }
  &__elements-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: bottom;
    list-style: none;
    margin-top: auto;
  }
  &__elements-tools-item {
    color: variables.$text-color-default-shadow;
  }
}
.other-title {
  display: flex;
  font-size: variables.$subtitle-font-size;
  color: variables.$text-color-default;
  justify-content: center;
  align-items: center;
}
.page {
  height: auto;
  cursor: default;
}
