@use "./../../variables";
.page {
  height: 200vh;
}
.featured-projects {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    li {
      width: 65%;
      height: auto;
      margin: 20px;
    }

    @mixin project {
      display: grid;
      grid-template-columns: repeat(10, 10%);
      grid-template-rows: repeat(6, 20%);
      .title {
        display: flex;
        width: 100%;
        color: variables.$text-color-active;
      }
      .image {
        width: 100%;
        height: 100%;
      }
      .description {
        padding: 30px;
        background-color: variables.$accent-color;
        color: variables.$text-color-default;
      }
      .icons {
        display: flex;
        list-style: none;
        color: variables.$text-color-default;
        li {
          margin-left: 1.4rem;
        }
      }
      .links {
        display: flex;
        a {
          margin-right: 2rem;
          color: variables.$text-color-default;
          font-weight: variables.$text-font-weight;
          text-decoration: none;
        }
      }
    }
    .project-even {
      @include project();
      .title {
        grid-area: 1 / 7 / 2 / 11;
        justify-content: flex-end;
      }
      .image {
        grid-area: 1 / 1 / -1 / 7;
      }
      .description {
        grid-area: 2 / 6 / 5 / 11;
        justify-content: flex-end;
      }
      .icons {
        grid-area: 5 / 7 / 6 / 11;
        justify-content: flex-end;
      }
      .links {
        grid-area: 6 / 7 / 7 / 11;
        justify-content: flex-end;
      }
    }

    .project-odd {
      @include project();
      .title {
        grid-area: 1 / 1 / 2 / 5;
        justify-content: flex-start;
      }
      .image {
        grid-area: 1 / 5 / -1 / 11;
      }
      .description {
        grid-area: 2 / 1 / 5 / 6;
        justify-content: flex-start;
      }
      .icons {
        grid-area: 5 / 1 / 6 / 5;
        justify-content: flex-start;
      }
      .links {
        grid-area: 6 / 1 / 7 / 5;
        justify-content: flex-start;
      }
    }
  }
}
