@use "./../../variables";

@mixin featured-mobile {
  .flex-column {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1.5rem;
    grid-area: 1 / 1 / 1 / 11;
    z-index: 3;
  }
  .featured {
    width: 100%;
    &__elements {
      &-items {
        margin: 1rem;
        border-radius: 5px;
        height: 35vh;
        width: 90vw;
      }
      &-title {
        @include variables.emphasised-font;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      &-image-filter {
        grid-area: 1 / 1 / 1 / 11;
        background-color: variables.$accent-color-opacity;
        width: 100%;
        height: 100%;
        z-index: 2;
      }
      &-image {
        grid-area: 1 / 1 / 1 / 11;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 1;
        .image {
          width: 100%;
          height: 100%;
          transform: scale(1.4);
        }
      }
      &-desc {
        @include variables.text-font;
        margin-top: 1rem;
      }
      &-tools {
        @include variables.text-font;
        display: flex;
        margin-top: 1rem;
        justify-content: flex-start;
        &-item {
          margin-right: 1.2rem;
          a {
            @include variables.text-font;
          }
        }
      }
      &-links {
        display: flex;
        margin-top: 1rem;
        justify-content: flex-start;
        .link {
          @include variables.text-font;
          margin-right: 1.2rem;
          font-size: 1.3rem;
        }
      }
    }
  }
}

@mixin project-left {
  .flex-column {
    grid-area: 1 / 5 / 1 / 10;
  }
  .featured__elements {
    &-title {
      display: flex;
      justify-content: flex-end;
    }
    &-image {
      grid-area: 1 / 1 / 1 / 6;
    }
    &-desc {
      display: flex;
      justify-content: flex-end;
      text-align: right;
    }
    &-tools {
      display: flex;
      justify-content: flex-end;
    }
    &-links {
      display: flex;
      justify-content: flex-end;
    }
  }
}

@mixin project-right {
  .flex-column {
    grid-area: 1 / 1 / 1 / 6;
  }
  .featured__elements-image {
    grid-area: 1 / 5 / 1 / 10;
  }
}

@mixin featured-desktop {
  .flex-column {
    grid-area: 1 / 1 / 1 / 6;
    z-index: 3;
  }
  .featured {
    width: 100%;
    &__elements {
      &-items {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
        margin-bottom: 5rem;
      }
      &-title {
        @include variables.emphasised-font;
      }
      &-image {
        grid-area: 1 / 5 / 1 / 10;
        z-index: 1;
        .image {
          width: 100%;
          height: auto;
          border-radius: 5px;
        }
      }
      &-desc {
        @include variables.text-font;
        background-color: variables.$accent-color;
        padding: 1.2rem;
        margin-top: 1rem;
        border-radius: 5px;
      }
      &-tools {
        @include variables.text-font;
        display: flex;
        margin-top: 1rem;
        justify-content: flex-start;
        &-item {
          margin-right: 1rem;
          a {
            @include variables.text-font;
          }
        }
      }
      &-links {
        margin-top: 1rem;
        .link {
          @include variables.text-font;
          font-size: 1.5rem;
          margin-right: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 767.98px) {
  @include featured-mobile;
  .featured {
    width: 100%;
  }
  .other {
    width: 100%;
  }
}

@media only screen and (min-width: 767.99px) {
  @include featured-desktop;
  .project-left {
    @include project-left;
  }

  .project-right {
    @include project-right;
  }
  .featured {
    max-width: 1100px;
  }
  .other {
    max-width: 1100px;
  }
}

@media only screen and (min-width: 767.99px) and (max-width: 1100.99px) {
  @include featured-desktop;
  .project-left {
    @include project-left;
  }

  .project-right {
    @include project-right;
  }
  .featured {
    max-width: 750px;
  }
  .other {
    max-width: 1200px;
  }
}

.featured {
  &__elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    &-items {
      display: grid;
      grid-template-columns: repeat(9, 10%);
      grid-template-rows: 1fr;
      overflow: hidden;
      
    }
  }
}

.other {
  &__elements {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 30%);
    grid-auto-flow: row;
    list-style: none;
  }
  &__elements-desc {
    @include variables.text-font;
    padding: 1rem;
  }
  &__elements-items {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    margin: 0.4rem;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: variables.$accent-color;
    transition: bottom 300ms;
    &:hover {
      bottom: 6px;
    }
  }
  &__elements-links {
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-evenly;
    color: variables.$text-color-default;
    margin-top: 1rem;
    .link {
      @include variables.navigation-font;
      :hover {
        color: variables.$text-color-active;
      }
    }
  }
  &__elements-title {
    @include variables.emphasised-font;
    display: inline-flex;
    justify-content: center;
    :hover > & {
      color: variables.$text-color-active;
    }
  }
  &__elements-tools {
    @include variables.text-font;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: bottom;
    list-style: none;
    margin-top: auto;
  }
  &__elements-tools-item {
    color: variables.$text-color-default-shadow;
  }

  @media only screen and (max-width: 1399.99px) {
    &__elements {
      grid-template-columns: repeat(2, 40%);
    }
  }

  @media only screen and (max-width: 575.98px), (max-width: 767.98px) {
    &__elements {
      display: flex;
      flex-direction: column;
      grid-template-columns: none;
      width: 80%;
      margin: auto;
      margin-top: 1.5rem;
      &-desc {
        @include variables.text-font;
      }
      &-tools {
        @include variables.text-font;
      }
      &-links {
        .link {
          @include variables.text-font;
        }
      }
    }
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
  width: 100%;
}



@mixin title {
  @include variables.subtitle-font;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.featured-title {
  @include title();
}

.other-title {
  @include title();
}

.archive-title {
  @include title();
  h1 {
    @include variables.text-font;
    color: variables.$primary-bright;
  }
}