@use "./../../variables";

@mixin hero-buttons {
  @include variables.navigation-font;
  background-color: variables.$darkest;
  border-radius: 5px;
  padding: 1rem;
  text-decoration: none;
  color: variables.$text-color-default;
  margin: 0.3rem;
  margin-top: 1rem;
  width: 8rem;
  text-align: center;
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 10vw;
  height: 100vh;
  width: 100vw;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 12vh;
    width: 100%;
    &-title {
      @include variables.hero-font;
      letter-spacing: -0.04rem;
      text-align: center;
      word-spacing: -1.2rem;
      &-span {
        color: variables.$text-color-active;
      }
    }
    &-bio {
      @include variables.text-font;
      text-align: center;
      
    }
    &-buttons {
      display: flex;
      justify-content: center;
      &-project {
        @include hero-buttons;
        background-color: variables.$primary-bright;
      }
      &-github {
        @include hero-buttons;
      }
    }
  }
  &__image {
    display: None;
    // display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      width: 400px;
    }
  }
}

.background-skew {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  // height: 100px;
  width: 100%;
  margin: 0;
  padding: 0;
  // overflow: hidden;
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px), (max-width: 767.98px) {
  .hero {
    display: flex;
    height: 100vh;
    &__content {
      align-items: center;
      justify-content: center;
      position: relative;
      bottom: 4vh;
      margin-bottom: 0;
      &-title {
        display: inline-block;
      }
      &-bio {
        text-align: center;
        margin: 0
        // margin-top: 2.4rem;
      }
      &-buttons {
        display: flex;
        &-project {
          @include hero-buttons;
          background-color: variables.$primary-bright;
        }
        &-github {
          @include hero-buttons;
        }
      }
    }
    &__image {
      display: None;
    }
  }

  .waving-hand {
    display: None;
  }
}

.Typewriter__wrapper {
  display: None;
  @include variables.subtitle-font;
  position: relative;
  top: 1rem;
}

.Typewriter__cursor {
  display: None;
  @include variables.subtitle-font;
  position: relative;
  top: 0.9rem;
}

.waving-hand:hover {
  animation-name: waving;
  animation-duration: 1.5s;
  display: inline-block;
  transform-origin: 65% 65%;
}
@keyframes waving {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(16deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  45% {
    transform: rotate(16deg);
  }
  60% {
    transform: rotate(-6deg);
  }
  75% {
    transform: rotate(12deg);
  }
  90% {
    transform: rotate(0deg);
  }
}
