@use "./../../variables";

.hero {
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
  margin-right: 10vw;
  height: 100%;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    &-title {
      font-size: variables.$hero-font-size;
      font-weight: variables.$hero-font-weight;
      color: variables.$text-color-default;
      letter-spacing: -0.04rem;
      text-align: center;
      &-span {
        color: variables.$text-color-active;
      }
    }
    &-bio {
      font-size: variables.$text-font-size;
      font-weight: variables.$text-font-weight;
      color: variables.$text-color-default;
    }
  }
  &__image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      width: 400px;
    }
  }
}

@mixin hero-buttons {
  background-color: variables.$darkest;
  font-size: variables.$navigation-font-size;
  border-radius: 5px;
  padding: 1rem;
  text-decoration: none;
  color: variables.$text-color-default;
  margin: 0.3rem;
  margin-top: 1rem;
  width: 8rem;
  text-align: center;
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px), (max-width: 767.98px) {
  .hero {
    display: flex;
    height: 100%;
    &__content {
      align-items: center;
      justify-content: center;
      position: relative;
      bottom: 4vh;
      &-title {
        display: inline-block;
      }
      &-bio {
        text-align: center;
        margin-top: 2.4rem;
      }
      &-buttons {
        display: flex;
        &-project {
          @include hero-buttons;
          background-color: variables.$primary-bright;
        }
        &-github {
          @include hero-buttons;
        }
      }
    }
    &__image {
      display: None;
    }
  }

  .waving-hand {
    display: None;
  }
}

.Typewriter__wrapper {
  display: None;
  font-size: variables.$subtitle-font-size;
  color: variables.$text-color-default;
  position: relative;
  top: 1rem;
}

.Typewriter__cursor {
  display: None;
  font-size: variables.$subtitle-font-size;
  color: variables.$text-color-default;
  position: relative;
  top: 0.9rem;
}

.waving-hand:hover {
  animation-name: waving;
  animation-duration: 1.5s;
  display: inline-block;
  transform-origin: 65% 65%;
}
@keyframes waving {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(16deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  45% {
    transform: rotate(16deg);
  }
  60% {
    transform: rotate(-6deg);
  }
  75% {
    transform: rotate(12deg);
  }
  90% {
    transform: rotate(0deg);
  }
}
