@use "./../../variables";

.hero {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 50%;
  margin-left: 10vw;
  margin-right: 10vw;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    &-title {
      font-size: variables.$hero-font-size;
      font-weight: variables.$hero-font-weight;
      color: variables.$text-color-default;
      letter-spacing: -0.04rem;
      &-span {
        color: variables.$text-color-active;
      }
    }
  }
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 400px;
    }
  }
}

.Typewriter__wrapper {
  font-size: variables.$subtitle-font-size;
  color: variables.$text-color-active;
}

.Typewriter__cursor {
  font-size: variables.$subtitle-font-size;
  color: variables.$text-color-active;
}

.waving-hand:hover {
  animation-name: waving;
  animation-duration: 1.5s;
  display: inline-block;
  transform-origin: 65% 65%;
}
@keyframes waving {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(16deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  45% {
    transform: rotate(16deg);
  }
  60% {
    transform: rotate(-6deg);
  }
  75% {
    transform: rotate(12deg);
  }
  90% {
    transform: rotate(0deg);
  }
}
