@use "./../../variables";


.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .about__desc {
    display: flex;
    flex-direction: row;
    margin: 0 0.5rem;
    color: variables.$text-color-default;
  }
  .about__container {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .about__sections {
      z-index: 998;
      display: flex;
      flex-direction: column;
      justify-content: center;

      button {
        @include variables.text-font;
        margin: 0 0.5rem;
        padding: 0.7rem;
        margin-bottom: 0rem;
        background-color: transparent;
        border: 0px;
        color: variables.$text-color-default;
        border-bottom: 0.15rem solid;
      }
      .icons {
        height: 25px;
      }

      button:hover {
        background-color: variables.$button-highlight;
      }

      .active {
        border-bottom: 0.15rem solid variables.$text-color-active;
        color: variables.$text-color-active;
      }
    }
  }
}

.about__opt-info {
  width: 100%;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .about__skills {
    p {
      @include variables.subtitle-font;
      display: flex;
      justify-content: center;
    }
    ul {
      list-style: none;
    }
    .icons {
      width: 5rem;
      height: 5rem;
      margin: 0.6rem;
    }
    .horizontal-list {
      display: flex;
    }
  }
}

.education {
  color: variables.$text-color-default;
  justify-content: center;
  &-block {
    // outline: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 860px;
    padding: 1rem;
    margin: 1rem;
    background-color: variables.$darker;
    border-radius: 5px;
    list-style: none;
    box-shadow: 0px 3px variables.$darkest;
    &-imagecontainer {
      width: 25%;
      max-width: 25%;
      img {
        padding-right: 1rem;
        width: 100%;
      }
    }
    &-title {
      @include variables.text-font;
      margin-bottom: 0.5rem;
    }
    &-years {
      @include variables.text-font;
    }
    &-qualification {
      @include variables.text-font;
      margin-bottom: 0.5rem;
    }
    &-grade {
      @include variables.text-font;
      margin-bottom: 0.5rem;
    }
    &-desc {
      @include variables.text-font;
      margin-bottom: 0.5rem;
    }
    &-list {
      @include variables.text-font;
      margin-left: 1rem;
      list-style: circle;
      li {
        margin-bottom: 0.5rem;
      }
    }
  }
}

.about__hobbies {
  color: variables.$text-color-default;
}
