@use "./../../variables";

// // Large devices (desktops, less than 1200px)
.navbar {
  height: auto;
  z-index: 999;
  margin-top: 0.6rem;
  width: 85%;
  // background-color: vriables.$accent-color-nav;
  .navbar__expand {
    .menu {
      display: none;
    }
  }
  .navbar__links {
    display: flex;
    flex-direction: row;
    .navbar__links_container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 0.4rem;
      width: 100%;
    }
    .link {
      @include variables.navigation-font;
      margin: 0 1.1rem;
      text-decoration: none;
      cursor: pointer;
      .icon {
        margin-right: 0.3rem;
      }
    }
    .active {
      color: variables.$text-color-active;
    }
    .reload-button {
      padding: 0.4rem;
      background-color: transparent;
      border: 0px;
      color: variables.$text-color-default;
    }
    .resume-button {
      @include variables.navigation-font;
      background-color: transparent;
      border: 1px solid variables.$text-color-active;
      color: variables.$text-color-active;
      padding: 0.5rem 0.75rem;
      border-radius: 0.4rem;
      margin: 0 1.1rem;
    }
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px), (max-width: 767.98px) {
  .navbar {
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-top: 0;
    height: 6vh;
    background-color: transparent;
    width: 100%;
    .navbar__expand {
      .menu {
        @include variables.navigation-font;
        display: initial;
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
        background-color: transparent;
        border: 0px;
        z-index: 999;
      }
    }
    .navbar__links {
      background-color: variables.$accent-color;
      z-index: 998;
      position: fixed;
      top: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      .navbar__links_container {
        margin-top: 0.6rem;
        margin-bottom: 0.4rem;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 999;
      }
      .link {
        display: flex;
        height: 3rem;
        width: 65%;
        position: relative;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        .icon {
          display: none;
        }
      }
      .active {
        color: variables.$text-color-active;
      }
      .icon {
        margin-right: 0.3rem;
      }
      .active-nav {
        display: flex;
        flex-direction: column;
        height: 26vh;
      }
      .reload-button {
        position: absolute;
        top: 0;
        left: 0;
        margin: 1rem;
      }
      .resume-button {
        width: 90%;
        padding: 0.3rem;
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px) { ... } USED ABOVE

// // Medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) { ... }

// // X-Large devices (large desktops, less than 1400px)
// @media (max-width: 1399.98px) { ... }

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
