.sidebar {
    position: fixed;
    top: 10;
    left: 0;
    padding: 0.3rem;
    margin: 0 1.1rem;
    .sidebar__elements {
        display: flex;
        flex-direction: column;
        ul {
            height: 85vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            list-style: none;
            color: white;
            li {
                font-size: 1.8rem;
                padding-bottom: 1.5rem;
                a {
                    color: white;
                }
                a:hover {
                    color: greenyellow;
                }
            }
        }
    }
    .sidebar-vl {
        border-left: 3px solid white;
        height: 10vh;
        margin: auto;
    }
}