@use "./../../variables";

.archive {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.table {
  width: 60vw;
  cursor: default;
  margin-top: 1rem;
  overflow: hidden; /* Stops content overflowing and overlapping rounded corners */
  border-collapse: collapse;
  border-radius: 10px;
  margin-bottom: 2rem;
  @media (max-width: 575.98px), (max-width: 767.98px) {
    width: 95vw;
  }
  &__body {
    background-color: variables.$darkest;
    &-row {
      height: 5vh;
      width: 30vw;
      td {
        @include variables.navigation-font;
        display: inline-flex;
        width: 30%;
        padding: 1rem;
      }
      td:nth-child(1) {
        width: 85%;
        justify-content: flex-start;
      }
      td:nth-child(2) {
        width: 15%;
        justify-content: flex-end;
      }
    }
    &-row:hover {
      td {
        color: variables.$text-color-active;
      }
    }
    &-link {
      text-decoration: none;
      color: variables.$text-color-default;
      width: 100%;
      &:hover {
        color: variables.$text-color-active;
      }
    }
  }
}

.expanded {
  background-color: variables.$darker;
  td {
    color: variables.$text-color-default;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
