$text-color-default: #fff;
$text-color-active: #adff2f;
$title-font-size: 4rem;
$title-font-weight: 800;
$subtitle-font-size: 1.6rem;
$subtitle-font-weight: 650;
$navigation-font-size-2: 1.5rem;
$navigation-font-weight-2: 500;
$navigation-font-size: 1.2rem;
$navigation-font-weight: 500;
$text-font-size: 1.1rem;
$text-font-weight: 400;
$button-highlight: rgb(3, 36, 56, 0.3);
$accent-color: #122041;