@use "./variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  position: absolute;
  scroll-behavior: smooth;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .layout {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    height: 100%;
    &__navbar {
      position: sticky;
      top: 0;
    }
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 100%;
      &-sidebar {
        position: fixed;
        top: 10;
        height: 100%;
        width: 10%;
      }
      &-components {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
        
      }
    }
  }
}

.blur {
  filter: blur(10px);
  pointer-events: none;
}

.gradient__bg {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 3% 3%,
    rgba(15, 50, 100, 1) 0%,
    rgba(10, 25, 47, 1) 100%,
    rgba(0, 188, 212, 1) 100%,
    rgba(238, 130, 238, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 3% 3%,
    rgba(15, 50, 100, 1) 0%,
    rgba(10, 25, 47, 1) 100%,
    rgba(0, 188, 212, 1) 100%,
    rgba(238, 130, 238, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 3% 3%,
    rgba(15, 50, 100, 1) 0%,
    rgba(10, 25, 47, 1) 100%,
    rgba(0, 188, 212, 1) 100%,
    rgba(238, 130, 238, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 3% 3%,
    rgba(15, 50, 100, 1) 0%,
    rgba(10, 25, 47, 1) 100%,
    rgba(0, 188, 212, 1) 100%,
    rgba(238, 130, 238, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 3% 3%,
    rgba(15, 50, 100, 1) 0%,
    rgba(10, 25, 47, 1) 100%,
    rgba(0, 188, 212, 1) 100%,
    rgba(238, 130, 238, 1) 100%
  );
}
