.App {
  height: 400%;
  width: 100%;
  position: absolute;
  
}

* {
  box-sizing: border-box; /* Accounts for any border and padding specified */
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  
}

body {
  background: var(--color-bg);
}

.gradient__bg {
  min-width: 100%;
  min-height: 100%;
  
  /* ff 3.6+ */
  background:-moz-radial-gradient(circle at 3% 25%, rgba(4, 13, 16, 1) 0%, rgba(2, 41, 80, 1) 21%, rgba(2, 86, 96, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 3% 25%, rgba(4, 13, 16, 1) 0%, rgba(2, 41, 80, 1) 21%, rgba(2, 86, 96, 1) 100%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 3% 25%, rgba(4, 13, 16, 1) 0%, rgba(2, 41, 80, 1) 21%, rgba(2, 86, 96, 1) 100%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 3% 25%, rgba(4, 13, 16, 1) 0%, rgba(2, 41, 80, 1) 21%, rgba(2, 86, 96, 1) 100%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 3% 25%, rgba(4, 13, 16, 1) 0%, rgba(2, 41, 80, 1) 21%, rgba(2, 86, 96, 1) 100%);
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text; /* How far background extends beyond an element's content */
}

/* X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {}

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) {}

/* Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) {}

/* Large devices (desktops, less than 1200px) */
@media screen and (max-width: 1199.98px) {}

/* X-Large devices (large desktops, less than 1400px) */
@media screen and (max-width: 1399.98px) {}